.page-accueil {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.page-accueil .div {
  background-color: #ffffff;
  overflow: hidden;
  width: 1440px;
  height: 1024px;
  position: relative;
}

.page-accueil .arrire-plan {
  position: absolute;
  width: 1440px;
  height: 901px;
  top: 123px;
  left: 0;
  background-image: url(./img/beautiful-sustainability-concept.png);
  background-size: cover;
  background-position: 50% 50%;
}

.page-accueil .overlap {
  position: absolute;
  width: 1446px;
  height: 123px;
  top: 0;
  left: 0;
}

.page-accueil .footer {
  position: absolute;
  width: 1446px;
  height: 123px;
  top: 0;
  left: 0;
  background-color: transparent;
}

.page-accueil .overlap-group {
  position: relative;
  width: 1440px;
  height: 123px;
  background-color: #019e1a;
}

.page-accueil .rectangle {
  position: absolute;
  width: 678px;
  height: 61px;
  top: 31px;
  left: 762px;
  background-color: #569edf;
  border-radius: 49px 0px 0px 49px;
  border: 3px solid;
  border-color: #e8e8e8;
}

.page-accueil .text-wrapper {
  position: absolute;
  width: 80px;
  height: 29px;
  top: 47px;
  left: 811px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 6.2px;
  line-height: 24px;
}

.page-accueil .text-wrapper-2 {
  position: absolute;
  width: 102px;
  height: 29px;
  top: 47px;
  left: 1054px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 6.2px;
  line-height: 24px;
}

.page-accueil .text-wrapper-3 {
  position: absolute;
  width: 80px;
  height: 29px;
  top: 47px;
  left: 1319px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 6.2px;
  line-height: 24px;
}

.page-accueil .LOGO {
  position: absolute;
  width: 339px;
  height: 103px;
  top: 10px;
  left: 22px;
}

.page-accueil .text-wrapper-4 {
  position: absolute;
  width: 211px;
  height: 78px;
  top: 18px;
  left: 124px;
  -webkit-text-stroke: 2px #019e1a;
  font-family: "Magneto-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 40px;
  letter-spacing: 8.4px;
  line-height: normal;
}

.page-accueil .game-icons-ecology {
  position: absolute;
  width: 109px;
  height: 103px;
  top: 0;
  left: 0;
}
